
.Main-Box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* background-color: black; */
    width: 1128px;
  }
  
  .content-main {
    display: flex;
    width: 1128px;
    /* justify-content: center; */
    margin-left: 280px;
  }
  
  .Networkleft {
    width: 70%;
  }

  .Networkright {
    width: 30%;
  }
  
  
  @media screen and (max-width: 768px) {
    .content-main {
      flex-direction: column;
      align-items: center;
      /* z-index: initial; */
      justify-content: center;
      overflow-x:auto;
      margin-left: -50px;
      width: 468px;
    }
    .Main-Box {
      margin-top: 30px;
      /* background-color: black; */
      width: 1128px;
    }
    
    .Networkleft,
    .Networkright {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  